* {
    box-sizing: border-box;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    padding: 2px;
    margin: 1px;

    /* Makes sure that padding and border are included in the element's total width and height */
}

body,
html {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

hr {
    height: auto;
}

input {
    width: auto;
    height: auto;
}



/* Style for readonly textareas */
textarea[readonly] {
    background-color: #ff000024;

}


button,
textarea {

    width: 100%;
    height: auto;
}

select{
    width: 100%;
    height: auto;
}

.toolbar {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    /* Container takes full page width */
    height: 30px;
    /* Container takes full page width */
}

.toolbar input,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
    width: auto;
    height: auto;
    /* Takes up the remaining space */
}

.container {
    display: flex;
    /* Enables flexbox layout */
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
    height: calc(100% - 40px);
    width: calc(100% - 15px);
    /* Container takes full page width */
}

.left {
    width: 350px;
    border: 2px solid;
}

.right {
    flex-grow: 1;
    border: 2px solid;
    overflow-y: scroll;

}