* {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 1px;
    margin: 0px;
    height: 100%;
    overflow: hidden;
    /* Makes sure that padding and border are included in the element's total width and height */
}



hr {
    height: auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 5px;
    height: auto;

}

div {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Style for readonly textareas */
textarea[readonly],
input:disabled {
    background-color: #ff000024;
    overflow: scroll;
}


button {
    width: calc(100% - 3px);
    height: auto;
    margin: 3px;
    overflow: hidden;
    white-space: nowrap;
}

textarea,
input {

    width: calc(100% - 3px);
    height: auto;
    margin: 3px;
    overflow: scroll;

    /* prevent word wrap */
    white-space: nowrap;
}

select {
    width: calc(100% - 3px);
    height: auto;
}

.toolbar {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    /* Container takes full page width */
    height: 30px;
    /* Container takes full page width */
}


.tab {
    /*make bottom corners square and top corners round */
    border-radius: 5px 5px 0px 0px;
    border: 1px solid;
    padding: 5px;
    margin-left: 5px;
    height: 100%;
    background-color: rgb(0, 47, 93);
}



.toolbar input,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
    width: auto;
    height: auto;
    /* Takes up the remaining space */
}





.overlay {
    position: fixed;
    /* Use fixed to cover the entire screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    display: none;
    align-items: center;
    /* Center vertically */
    justify-content: center;
    /* Center horizontally */
    z-index: 1000;
    /* High z-index to be on top of other content */
}

.spinner {
    width: 100px;
    /* Size of the spinner */
    height: 100px;

    /* center in page. */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* invert colors*/
    filter: invert(1);

}







.container {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 30px auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "toolBar toolBar"
        "left right";
    width: 100%;
    height: 100%;
}

.left {
    grid-area: left;
    overflow-y: scroll;
}

.right {
    grid-area: right;
    overflow-y: scroll;
}

.toolBar {
    grid-area: toolBar;
    padding: 0px;
    height: 35px;
    margin: 0px;
}

.bottom {
    grid-area: 2 / 1 / 3 / 3;
    overflow-y: scroll;
}




#specification {
    white-space: wrap;
}







table,
th,
td {
    border: 1px solid;
}

table {
    width: 100%;
}